.btnvoltar{
    text-decoration: none;
    opacity: 0.79;
    letter-spacing: 4px;
    font-size: 27px;
    color: #FFFFFF;
     font-family:  sans-serif;;
    background: linear-gradient(to bottom, #17FF84, #D00DA2);
    border: solid #2FF0FF 1px;
    border-radius: 46px;
    padding:19px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease; 
}
.table{
    background: white;
    border: solid #2FF0FF 1px;
}
.linha1{
    background: #D00DA2;
}
.linha2{
    background: #17FF84;
}